<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="//fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/main.min.css">
    {% endblock %}
</head>
<body>
    <header>
        <span class="title">WS Ltd Prototype</span>
        <div class="header-menu">
            <a class="menu-item" href="/">Home</a>
            <a class="menu-item" href="/viewfiles">Files</a>
        </div>
        <div class="login-box">
            {% if logged_in %}
             <a class="btn" href="{{ logout_url }}">Log out</span>
             {% else %}
             <a class="btn" href="{{ login_url }}">Log in</button>
             {% endif %}
        </div>
    </header>
    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>