{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="css/home.css" />
{% endblock %}
{% block content %}
    <form action="{{ upload_url }}" id="file-form" class="row" method="post" enctype="multipart/form-data">
        <div class="file-wrapper col-lg-8">
            {% if not user %}
            <h1 class="bg-danger">You need to be signed in to upload Files</h1>
            {% endif %}
            <div id="file-picker-button" class="drag-n-drop-overlay pointer">
                <span class="drag-n-drop-content"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Pick a file to upload.</span>
            </div>
        </div>
        <div id="fieldset" class="meta-wrapper form-group col-lg-4">
            <h2>Information</h2>
        </div>
        <input id="file-picker" type="file" name="file" accept="image/*,video/*,audio/*" />
        {% if user %}
            <button class="btn btn-primary" id="submit" disabled="true">Upload</button>
        {% endif %}

    </form>
{% endblock %}
{% block scripts %}
    <script src="/js/objects/FileModel.js"></script>
    <script src="/js/main.js"></script>
{% endblock %}
