body {
    margin: 0;
}

html, button, input, select, textarea {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: normal;
}

input[type="text"],
input[type="number"] {
    width: 100%;
}

#wrapper {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}