.grid {
    padding: 10px;
}

.grid .item {
    background: #CCC;
    border-radius: 4px;
    margin: 20px;
    padding: 5px;
    max-width: 400px;
    height: auto;
}

.item {
    opacity: 0;
}

.item.is-visible {
    -webkit-animation: Items 600ms ease-in forwards;
            animation: Items 600ms ease-in forwards;
}

@-webkit-keyframes Items {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotateY(90deg);
            transform: scale(0.3) rotateY(90deg);
  }
  60% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
  }
}

@keyframes Items {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotateY(90deg);
            transform: scale(0.3) rotateY(90deg);
  }
  60% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
  }
}