.header-menu {
    display: inline;
}
.menu-item {
    font-size: 2em;
    color: #444;
    margin-right: 10px;
}
.menu-item:hover {
    text-decoration: none;
    color: #222;
}

.title {
    font-size: 3em;
    margin-right: 100px;
}

header {
    background-color: #e44424;
    border-bottom: 2px solid #a52c14;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
}
